<link rel="stylesheet" href="/stylesheets/nav.css">
<footer class="footer py-3 mt-auto" style="background-color: black">
    <div class="container mt-10">
        <span class="text-muted">&copyTrailHaven</span>
    </div>
</footer>