.nav-bk4,.btn{

    background: #070000; 
    
    background: -webkit-linear-gradient(to right, #070000, #4C0001, #070000); 
    
    background: linear-gradient(to right, #070000, #4C0001, #070000);
    
    
    
    }

    
    h1{
        color: white;
    }

    